<link rel="icon" type="image/png" href="{{ SITEURL }}/images/favicon-96x96.webp" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{ SITEURL }}/images/favicon.svg" />
<link rel="shortcut icon" href="{{ SITEURL }}/images/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/images/apple-touch-icon.webp" />
<meta name="apple-mobile-web-app-title" content="Yücel Blog" />
<link rel="manifest" href="{{ SITEURL }}/site.webmanifest" />