[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git

[submodule "pelican-webmention"]
	path = pelican-webmention
	url = git@github.com:drivet/pelican-webmention.git
