@use "../_core/variables";
@use "../_mixin/compatibility";
@use "../_mixin/details";

.details {
  .details-summary {
    &:hover {
      cursor: pointer;
    }
  }

  svg.details-icon {
    color: variables.$global-font-secondary-color;
    @include compatibility.transition(transform 0.2s ease);

    [theme="dark"] & {
      color: variables.$global-font-secondary-color-dark;
    }
  }

  .details-content {
    max-height: 0;
    overflow-y: hidden;
    @include details.details-transition-open;
  }

  &.open {
    svg.details-icon {
      @include compatibility.transform(rotate(90deg));
    }

    .details-content {
      max-height: variables.$MAX_LENGTH;
      @include details.details-transition-close;
    }
  }
}
