@use "../_core/variables";
@use "../_mixin/blur";
@use "../_mixin/compatibility";

#fixed-buttons {
  display: none;
}

.fixed-button {
  display: none;
  z-index: 100;
  position: fixed;
  right: 1.5rem;
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 0.6rem 0.6rem;
  color: variables.$global-font-secondary-color;
  background: variables.$header-background-color;
  @include compatibility.border-radius(2rem);
  @include compatibility.transition(color 0.4s ease);

  @include blur.blur;

  &:hover,
  &:active {
    color: variables.$bg;
    cursor: pointer;
  }

  &:active,
  &:focus,
  &:hover {
    outline: none;
  }

  [theme="dark"] & {
    color: variables.$global-font-secondary-color-dark;
    background: variables.$header-background-color-dark;

    &:hover,
    &:active {
      color: variables.$bg-dark;
    }
  }
}

#back-to-top {
  display: block;
  bottom: 1.5rem;
}

#view-comments {
  bottom: 4.5rem;
}
