.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  line-height: 1;
  position: relative;
  top: -0.125em; // fine-tune alignment
  vertical-align: middle;
  width: 1em;

  &.spin {
    animation: spin 2s infinite linear;
  }
}

.emoji {
  height: 1em;
  margin: 0;
  max-height: 20px;
  max-width: 20px;
  width: 1em;
}

.looking-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: 50%;
  width: 140px;
}
