/* ==========================================================================
   Responsive Embed
   Credit: Nicolas Gallagher and SUIT CSS.
   <!-- 16:9 aspect ratio -->
   <div class="embed-responsive embed-responsive-16by9">
     <iframe class="embed-responsive-item" src="..."></iframe>
   </div>
   <!-- 4:3 aspect ratio -->
   <div class="embed-responsive embed-responsive-4by3">
     <iframe class="embed-responsive-item" src="..."></iframe>
   </div>
   ========================================================================== */

@use "sass:math";

.embed-responsive {
  display: block;
  margin-bottom: 1.5rem;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;

  &::before {
    content: "";
    display: block;
  }

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.embed-responsive-21by9 {
  &::before {
    padding-top: math.percentage(math.div(9, 21));
  }
}

.embed-responsive-16by9 {
  &::before {
    padding-top: math.percentage(math.div(9, 16));
  }
}

.embed-responsive-4by3 {
  &::before {
    padding-top: math.percentage(3 * 0.25);
  }
}

.embed-responsive-1by1 {
  &::before {
    padding-top: math.percentage(math.div(1, 1));
  }
}
