{% macro translations_for(article) %} {% if article.translations %}
<p
    id="list-of-translations"
    class="text-sm text-text-secondary mt-2 mb-4 p-2 bg-site-card-alt border border-border-card rounded-md">
    Bu yazı aşağıdaki dillerde de mevcuttur: {% for translation in article.translations|sort(attribute = 'lang') %}
    <a
        href="{{ SITEURL }}/{{ translation.url }}"
        class="text-primary hover:underline"
        hreflang="{{ translation.lang }}">
        {{ translation.lang }}
    </a>
    {% if loop.index0 + 2 == loop.length %} ve{% elif not loop.last %}, {% endif %} {% endfor %}
</p>
{% endif %} {% endmacro %}
