{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ tag }} etiketi{% endblock %}

{% block content %}
{% block content_title %}
<h1 class="author-category-tags-title">Etiket: {{ tag }}</h1>
{% endblock %}

<section id="content">
  <div>
      <ol id="post-list">
          {% for article in articles_page.object_list %}
          <li style="list-style-type: none">
              <article class="hentry">
                  <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                          title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                  <div style="margin-bottom: 1em" class="entry-content"><strong>{{ article.description }}</strong> </div>
                  <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                  <address class="vcard author">By
                      {% for author in article.authors %}
                      <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                      {% endfor %}
                  </address>
              </article>
          </li>
          {% endfor %}
      </ol>
  </div>
      {% if articles_page.has_other_pages() %}
      {% include 'pagination.html' %}
      {% endif %}
  </section>
  {% endblock content %}
