{%- capture article_class %}js-comment comment{% if include.name == site.author.name %} admin{% endif %}{% if
include.is_reply %} child{% endif %}{% endcapture %}
{% assign comment_id = include.uid | prepend: 'comment-' %}
<article id="{{ comment_id }}" class="{{ article_class }} timeline-comment" uid="{{ include.uid }}">

{% if include.avatar %}
<noscript><img src="{{ include.avatar }}" alt=""></noscript>
<a class="avatar" href="#{{ comment_id }}"><img class="avatar rounded-1" height="44" width="44" alt="
    {{-include.name | strip_html }}" data-src="{{ include.avatar }}"></a>
{% else %}
<noscript><img src="/assets/images/avatar-60.png" alt=""></noscript>
<a class="avatar" href="#{{ comment_id }}"><img class="avatar rounded-1" height="44" width="44"
    alt="{{-include.name | strip_html }}" src="https://www.gravatar.com/avatar/{{ include.email }}"
    data-srcset="https://www.gravatar.com/avatar/{{ include.email }}"></a>
{% endif %}


  <div class="comment">
    <header class="comment-header">
      <span class="comment-meta">
        <a class="text-link" href="#{{ comment_id }}" target="_blank"><strong>{{include.name }}</strong></a>
          {% assign finder = include.date | date: "%-m" | minus: 1 %}
          {% assign mes = site.data.turkish.aylar[finder] %}
          <relative-time class="text-link" datetime="{{- include.date | date:'%B %eth, %Y %H:%M' -}}">
            {{ include.date | date: "%-d" }} {{ mes }} {{ include.date | date: "%Y %H:%M:%S" }}
          </relative-time>
      </span>
      <div class="comment-actions">
          {% if include.name == site.author.name %}
          <span class="author-association-badge">Amdin</span>
          {% endif %}
        <details class="details-overlay details-popover reactions-popover">
          <summary aria-label="Reactions Menu"><a rel="nofollow" class="comment__reply-link"
            onclick="return addComment.moveForm('{{ comment_id }}', 'respond', '{{ include.uid }}')">↪&#xFE0E; Yanıtla {{
            include.name }}</a></summary>
        </details>
      </div>
    </header>
    <div class="markdown-body markdown-body-scrollable">
     {{ include.message | markdownify }}
    </div>

  </div>

  {% if include.is_reply %}
</article>
{% else %}
</article>

{%- capture this_uid %}{{ include.uid }}{% endcapture %}
{%- assign replies = site.data.comments[page.slug] | where_exp: 'item', 'item.replying_to_uid == this_uid' %}
{%- assign replies_date = replies | sort: 'date' %}
{% for reply in replies_date %}
{%- assign email = reply.email -%}
{%- assign name = reply.name -%}
{%- assign url = reply.url -%}
{%- assign date = reply.date -%}
{%- assign message = reply.message -%}
{%- assign uid = reply._id -%}
{% include comment.html is_reply=true uid=uid email=email name=name url=url date=date message=message %}
{% endfor %}

{% endif %}
