<section class="comments" id="comment-section">
  <hr>
  {% if site.data.comments[page.slug] %}
  <!-- Existing comments -->
  <main class="timeline">
    <h1 class="timeline-header">
      <a class="text-link" target="_blank" href="https://github.com/utterance/utterances/issues/1">1019 Comments</a>
      <em>
        - powered by
        <a class="text-link" href="https://utteranc.es" target="_blank">utteranc.es</a>
      </em>
    </h1>
    {% assign comments = site.data.comments[page.slug] | where_exp: "item", "item.replying_to_uid == ''" %}
    {% assign comments_by_date = comments | sort: 'date' | reverse %}
    <!-- List main comments in reverse date order, newest first. List replies in date order, oldest first. -->
    {% for comment in comments_by_date %}
    {%- assign email = comment.email %}
    {%- assign name = comment.name %}
    {%- assign url = comment.url %}
    {%- assign date = comment.date %}
    {%- assign message = comment.message %}
    {%- assign uid = comment._id %}
    {% include comment.html is_reply=false uid=uid replying_to=0 email=email name=name url=url date=date message=message
    uid=uid %}
    {% endfor %}
  </main>
  {% endif %}

  <!-- New comment form -->
  <div id="respond" class="comment__new">
    {% include comment_form.html %}
  </div>
</section>

<!-- jQuery Library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="https://uicdn.toast.com/editor/latest/i18n/tr-tr.min.js"></script>
<script src="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.js"></script>
<script
  src="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.js"></script>

<script>

  const Editor = toastui.Editor;
  const editor = new Editor({
    el: document.querySelector('#editor'),
    height: 'auto',
    placeholder: 'İyi bir insan ol fakat bunu ispatlamak için sakın olan vakit harcama.',
    initialEditType: 'markdown',
    hideModeSwitch: true,
    previewStyle: 'vertical',
    toolbarItems: [
      ['bold', 'italic', 'strike'],
      ['hr', 'quote'],
      ['ul', 'ol', 'task'],
      ['table', 'link'],
      ['codeblock'],
    ],
    language: 'tr-TR',
    theme: 'dark',
    plugins: [
      Editor.plugin.colorSyntax,
    ],


    //  plugins: [
    //   [Editor.plugin.chart, chartOptions],
    //   [Editor.plugin.codeSyntaxHighlight, { highlighter: Prism }],
    //   Editor.plugin.colorSyntax,
    //   Editor.plugin.tableMergedCell,
    // ],
  });

  // const data = document.getElementById("editor").value = editor.getMarkdown();
  // var content = editor.getMarkdown();
  // console.log(content);
  editor.removeToolbarItem("image");
  let insertBodyHtml = document.createElement('div')
  insertBodyHtml.innerHTML = `
                                    <label>Resim URL</label>
                                    <input
                                      id="imageUrl"
                                      type="text"
                                    />
                                    <label>Resim Açıklaması</label>
                                    <input
                                      id="imageAltText"
                                      type="text"
                                    />
                                    <br/><br/>
                                    <div class="toastui-editor-button-container">
                                      <button type="button" class="toastui-editor-close-button" onClick="javascript:editor.eventEmitter.emit('closePopup'); editor.focus();">
                                        İptal
                                      </button>
                                      <button type="button" class="toastui-editor-ok-button" onClick="javascript:editor.exec('addImage', { imageUrl: document.getElementById('imageUrl').value, altText: document.getElementById('imageAltText').value }); editor.eventEmitter.emit('closePopup'); editor.focus();">
                                        Ekle
                                      </button>
                                    </div>
`
  editor.insertToolbarItem({ groupIndex: 3, itemIndex: 0 }, {
    name: 'imageUrl',
    tooltip: 'Resim Ekle',
    popup: {
      body: insertBodyHtml
    },
    text: '',
    className: 'image toastui-editor-toolbar-icons',
    style: {}
  });


  $(function () {
    $('#comment-form-submit').click(function () {
      var mysave = $('#editor').value = editor.getMarkdown();
      $('#hiddeninput').val(mysave);
      console.log(mysave);
    });
  });

</script>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
{% if site.reCaptcha.enabled %}
<script src="https://www.google.com/recaptcha/api.js"></script>
{% endif %}
