<div id=fixed-buttons><a href=# id=back-to-top class=fixed-button title="Back to Top"><svg class="icon icon-arrow-up">
  <use xlink:href="#icon-arrow-up"></use>
</svg></a><a href=# id=view-comments class=fixed-button title="View Comments"><svg class="icon icon-bubble">
        <use xlink:href="#icon-bubble"></use>
      </svg></a></div>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-line">Powered by Minel | ™ {{ site.title }}</div>
    <div class="footer-line">©<span itemprop="copyrightYear">1989 - ∞
       </span></div>
  </div>
</footer>
