<header class="desktop" id="header-desktop">
  <div class="header-wrapper">
    <div class="header-title"><a href="/" title="{{ site.title }}"><img class="looking-image" src="/assets/images/logo.svg"
          alt="logo">{{ site.title }}</a></div>
    <div class="menu">
      <div class="menu-inner"><a class="menu-item" href="/about/">Hakkımda </a><span
          class="menu-item delimiter"></span><span class="menu-item search" id="search-desktop">
          <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;"><input
              type="text" placeholder="Ara Beni" id="search-input-desktop" class="input" autocomplete="off"
              spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false"
              aria-owns="algolia-autocomplete-listbox-desktop" dir="auto" style="position: relative; vertical-align: top;">
            <pre aria-hidden="true"
              style="position: absolute; visibility: hidden; white-space: pre; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
          </span>
          <span class="search-button search-toggle" id="search-toggle-desktop" title="Search">
           <svg class="icon icon-search">
              <use xlink:href="#icon-search"></use>
            </svg>
          </span>
          <span class="search-button search-clear" id="search-clear-desktop" title="Clear">
            <svg class="icon icon-cross">
              <use xlink:href="#icon-cross"></use>
            </svg>
          </span>
          <span class="search-button search-loading" id="search-loading-desktop">
            <svg class="icon icon-spinner2">
              <use xlink:href="#icon-spinner2"></use>
            </svg>
          </span>
        </span>
        <a href="javascript:void(0);" class="menu-item theme-switch" title="Switch Theme"><svg class="icon icon-eye">
            <use xlink:href="#icon-eye"></use>
          </svg></a>
      </div>
    </div>
  </div>
</header>
<header class="mobile" id="header-mobile">
  <div class="header-container">
    <div class="header-wrapper">
      <div class="header-title"><a href="/" title="{{ site.title }}"><img class="looking-image" src="/assets/images/logo.svg"
            alt="logo">{{ site.title }}</a></div>
      <div class="menu-toggle" id="menu-toggle-mobile"><span></span><span></span><span></span></div>
    </div>
    <div class="menu" id="menu-mobile">
      <div class="search-wrapper">
        <div class="search mobile" id="search-mobile"><input type="text" placeholder="Ara Beni..."
            id="search-input-mobile">
          <span class="search-button search-toggle" id="search-toggle-mobile" title="Search">
            <svg class="icon icon-search">
              <use xlink:href="#icon-search"></use>
            </svg>
          </span>
          <span class="search-button search-clear" id="search-clear-mobile" title="Clear">
            <svg class="icon icon-cross">
              <use xlink:href="#icon-cross"></use>
            </svg>
          </span>
          <span class="search-button search-loading" id="search-loading-mobile">
            <svg class="icon icon-spinner2">
              <use xlink:href="#icon-spinner2"></use>
            </svg>
          </span>
        </div><a href="javascript:void(0);" class="search-cancel" id="search-cancel-mobile">İptal</a>
      </div><a class="menu-item" href="/about/">About</a><a href="javascript:void(0);" class="menu-item theme-switch"
        title="Switch Theme">
        <svg class="icon icon-eye">
          <use xlink:href="#icon-eye"></use>
        </svg></a>
    </div>
  </div>
</header>
<div class="search-dropdown desktop">
  <div id="search-dropdown-desktop" style="position: relative;"><span class="dropdown-menu" role="listbox"
      id="algolia-autocomplete-listbox-mobile"
      style="position: absolute; z-index: 100; display: none; top: 0px; left: 0px; right: auto;">
      <div class="dataset-search"></div>
    </span></div>
</div>
