<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
<title>{% if page.title %}{{ page.title | escape }} | {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}
</title>

<meta itemprop="name" content="{{ site.name }}">
<meta itemprop="description"
  content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description }}{% endif %}">
<meta itemprop="image"
  content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ site.default_img | absolute_url }}{% endif %}">

<meta property="og:type" content="website">
<meta property="og:image"
  content="{% if page.image %}{{ page.og_image | absolute_url }}{% else %}{{ site.default_img | absolute_url }}{% endif %}">

<!-- twitter -->
<meta name="twitter:url" content="{{ page.url | absolute_url }}">
<meta name="twitter:site" content="{{ site.title }}">
<meta name="twitter:description"
  content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description }}{% endif %}">
{% if site.twitter_username %}
<meta name="twitter:creator" content="@{{ site.twitter_username }}">
{% endif %}
<meta property="twitter:image"
  content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ site.default_img | absolute_url }}{% endif %}">

<meta name="theme-color" content="#424242">
<meta name="google-site-verification" content="{{ site.verification.google }}">
<meta name="yandex-verification" content="{{ site.verification.yandex }}">
<meta name="msvalidate.01" content="{{ site.verification.bing }}" />
<meta name="robots" content="noodp" />
<meta name="keywords" content="Kişisel Blog, Yücel Toluyağ, teknoloji, tavsiye,linux, yazılım">
<meta name="DC.title"
  content="{% if page.title %}{{ page.title | escape }} | {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}">
<meta name="geo.region" content="TR-34" />
<meta name="geo.placename" content="İstanbul" />
<meta name="geo.position" content="41.009633;28.965165" />
<meta name="ICBM" content="41.009633, 28.965165" />
<!-- <meta name="author" content="ngocsangyem"> -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title"
  content="title-{% if page.title %}{{ page.title | escape }} | {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">


<!-- <meta name="apple-itunes-app" content="app-id"> -->
<link rel="alternate" href="{{ page.url | absolute_url }}" hreflang="en-vn">
<link rel="alternate" href="{{ page.url | absolute_url }}" hreflang="en-gb">
<link rel="alternate" href="{{ page.url | absolute_url }}" hreflang="en-us">
<link rel="alternate" href="{{ page.url | absolute_url }}" hreflang="en-sg">
<link rel="alternate" href="{{ page.url | absolute_url }}" hreflang="en-my">
<link rel="alternate" href="{{ page.url | absolute_url }}" hreflang="en-fr">
<link rel="alternate" href="{{ page.url | absolute_url }}" hreflang="en-id">
<link rel="alternate" href="{{ page.url | absolute_url }}" hreflang="am">
<link rel="alternate" href="{{ page.url | absolute_url }}" hreflang="x-default">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<!-- <link rel="canonical" href="{{ page.url | absolute_url }}"> -->


<link rel="apple-touch-icon" sizes="57x57" href="{{ " /assets/images/favicons/apple-icon-57x57.webp" }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ " /assets/images/favicons/apple-icon-60x60.webp" }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ " /assets/images/favicons/apple-icon-72x72.webp" }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ " /assets/images/favicons/apple-icon-76x76.webp" }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ " /assets/images/favicons/apple-icon-114x114.webp" }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ " /assets/images/favicons/apple-icon-120x120.webp" }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ " /assets/images/favicons/apple-icon-144x144.webp" }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ " /assets/images/favicons/apple-icon-152x152.webp" }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ " /assets/images/favicons/apple-icon-180x180.webp" }}">
<link rel="icon" type="image/webp" sizes="192x192" href="{{ " /assets/images/favicons/android-icon-192x192.webp" }}">
<link rel="icon" type="image/webp" sizes="32x32" href="{{ " /assets/images/favicons/favicon-32x32.webp" }}">
<link rel="icon" type="image/webp" sizes="96x96" href="{{" /assets/images/favicons/favicon-96x96.webp" }}">
<link rel="icon" type="image/webp" sizes="16x16" href="{{" /assets/images/favicons/favicon-16x16.webp" }}">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#5bbad5">
<meta name="msapplication-TileImage" content="{{" /assets/images/ms-icon-144x144.webp" }}">
<meta name="theme-color" content="#0c101a">

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
  href="{{ '/feed.xml' | prepend: site.baseurl }}">
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="pingback">


<!-- GASW -->
{% if jekyll.environment == "production" %}

{% if page.layout == 'post' %}
{% if site.google_analytics.pv.proxy_endpoint %}
<meta name="pv-proxy-endpoint" content="{{ site.google_analytics.pv.proxy_endpoint }}">
{% endif %}

{% if site.google_analytics.pv.cache_path %}
<meta name="pv-cache-path" content="{{ site.google_analytics.pv.cache_path | relative_url }}">
{% endif %}
{% endif %}

{% if site.google_analytics.pv.proxy_endpoint %}
{% assign proxy_url = site.google_analytics.pv.proxy_endpoint
| replace: "https://", "" | split: "/" | first | prepend: "https://" %}
<link rel="preconnect" href="{{ proxy_url }}" crossorigin="use-credentials">
<link rel="dns-prefetch" href="{{ proxy_url }}">
{% endif %}
<link rel="preconnect" href="https://www.google-analytics.com" crossorigin="use-credentials">
<link rel="dns-prefetch" href="https://www.google-analytics.com">
<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin="anonymous">
<link rel="dns-prefetch" href="https://www.googletagmanager.com">
<!-- jsDelivr CDN -->
<link rel="preconnect" href="https://cdn.jsdelivr.net">
<link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
{% endif %}


<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css">
