<span>

  <a href="javascript:void(0);" title="Share on Twitter" data-sharer="twitter"
    data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-title="{{ page.title }}"
    data-via="{{ site.twitter_username }}"><svg class="icon icon-twitter">
      <use xlink:href="#icon-twitter"></use>
    </svg></a>

  <a href="javascript:void(0);" title="Share on Facebook" data-sharer="facebook"
    data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-title="{{ page.title }}"><svg class="icon icon-facebook">
      <use xlink:href="#icon-facebook"></use>
    </svg></a>

  <a href="javascript:void(0);" title="Share on Linkedin" data-sharer="linkedin"
    data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-title="{{ page.title }}"><svg class="icon icon-linkedin2">
      <use xlink:href="#icon-linkedin2"></use>
    </svg></a>

  <a href="javascript:void(0);" title="Share on WhatsApp" data-sharer="whatsapp"
    data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-title="{{ page.title }}"><svg class="icon icon-whatsapp">
      <use xlink:href="#icon-whatsapp"></use>
    </svg></a>

  <a href="javascript:void(0);" title="Share on Pinterest" data-sharer="pinterest"
    data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-title="{{ page.title }}"><svg class="icon icon-pinterest2">
      <use xlink:href="#icon-pinterest2"></use>
    </svg></a>

  <a href="javascript:void(0);" title="Share on Tumblr" data-sharer="tumblr"
    data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-title="{{ page.title }}"><svg class="icon icon-tumblr">
      <use xlink:href="#icon-tumblr"></use>
    </svg></a>

  <a href="javascript:void(0);" title="Share on Reddit" data-sharer="reddit"
    data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-title="{{ page.title }}"><svg class="icon icon-reddit">
      <use xlink:href="#icon-reddit"></use>
    </svg></a>

  <a href="javascript:void(0);" title="Share on VK" data-sharer="vk"
    data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-title="{{ page.title }}"><svg class="icon icon-vk">
      <use xlink:href="#icon-vk"></use>
    </svg></a>

  <a href="javascript:void(0);" title="Share on Digg" data-sharer="digg"
    data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-title="{{ page.title }}"><svg class="icon icon-digg">
      <use xlink:href="#icon-digg"></use>
    </svg></a>

    <a href="javascript:void(0);" title="Share on StumbleUpon" data-sharer="stumbleupon"
      data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-title="{{ page.title }}"><svg class="icon icon-stumbleupon">
        <use xlink:href="#icon-stumbleupon"></use>
      </svg></a>

        <a href="javascript:void(0);" title="Share on Telegram" data-sharer="telegram"
          data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-title="{{ page.title }}"><svg class="icon icon-telegram">
            <use xlink:href="#icon-telegram"></use>
          </svg></a>
</span>
