@use "sass:meta";
@use "../_mixin/compatibility";
@use "../_mixin/link";
@use "variables";

html {
  font-family: variables.$sans-font;
  font-size: variables.$base-fontsize;
  line-height: variables.$line-height;
  width: 100%;
  scroll-behavior: smooth;
}

/* scrollbar, only support webkit */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: variables.$scrollbar-color;

  &:hover {
    background-color: variables.$scrollbar-hover-color;
  }
}

::selection {
  background-color: variables.$selection-color;

  [theme="dark"] & {
    background-color: variables.$selection-color-dark;
  }
}

body {
  background-color: variables.$bg;
  color: variables.$text;
  @include compatibility.overflow-wrap(break-word);
  scrollbar-color: auto;
  -webkit-font-smoothing: antialiased;

  &[theme="dark"] {
    color: variables.$text-dark;
    background-color: variables.$bg-dark;
  }
}

@include compatibility.ms;
@include link.link(true, true);

@include meta.load-css("../_partial/mask");
@include meta.load-css("../_partial/icon");
@include meta.load-css("../_partial/details");
@include meta.load-css("../_partial/fixed-button");
@include meta.load-css("../_partial/responsive-embed");

img {
  width: 100%; /* or max-width: 100%; */
  height: auto;
  @include compatibility.object-fit(contain);
}
