@use "sass:meta";
.archive {
  .single-title {
    text-align: right;
  }

  .group-title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  @include meta.load-css("../_partial/_archive/terms");
  @include meta.load-css("../_partial/_archive/tags");
}
