@use "sass:meta";
@use "../_core/variables";
@use "../_mixin/blur";

.page {
  position: relative;
  max-width: 800px;
  width: 60%;
  margin: 0 auto;

  [header-desktop] & {
    padding-top: variables.$header-height;
  }

  [header-desktop="normal"] & {
    padding-top: 0;
  }

  @include blur.blur;
}

@include meta.load-css("_single");
@include meta.load-css("_special");
@include meta.load-css("_archive");
@include meta.load-css("_home");
@include meta.load-css("_404");
