<div class="comments">
  {% if lobsters %}
    Discuss this post on <a href="{{ lobsters }}">lobste.rs</a>.
  {% endif %}
  {% if article.toot %}
  <p>{{ _('You can reply to this post via Mastodon:') }} <button id="replyButton" href="https://{{ article.toot.domain }}/{{ article.toot.username }}/{{ article.toot.id }}">{{ _('Reply') }}</button></p>
  <p id="mastodon-comments-list"
     data-domain="{{ article.toot.domain }}"
     data-id="{{ article.toot.id }}"
     data-locale="{{ article.lang or 'tr' }}"
     data-no-comments="{{ _('No comments found. I\'d love to hear from you!') }}"
     data-error-loading="{{ _('Error loading comments. Please try again later.') }}"
     data-waiting="{{ _('Waiting to load comments') }}">{{ _('Waiting to load comments') }}</p>
  <dialog id="toot-reply" class="mastodon" data-component="dialog" data-copied-text="{{ _('Copied!') }}" data-copy-text="{{ _('Copy') }}">
    <button class="close-btn" id="cancelButton" aria-label="Close">&times;</button>
    <main>
      <h3>{{ _("Reply to %(username)s's post", username=article.toot.username) }}</h3>
      <p>{{ _('With an account on the Fediverse or Mastodon, you can respond to this post.') }}</p>
      <p>{{ _('Since Mastodon is decentralized, you can use your existing account hosted by another Mastodon server or compatible platform if you don\'t have an account on this one.') }}</p>
      <p>{{ _('Copy and paste this URL into the search field of your favourite Fediverse app or the web interface of your Mastodon server.') }}</p>
      <div class="copypaste">
        <input type="text" readonly="" value="https://{{ article.toot.domain }}/{{ article.toot.username }}/{{ article.toot.id }}">
        <button class="button" id="copyButton">{{ _('Copy') }}</button>
      </div>
    </main>
  </dialog>
  {% endif %}
  <noscript><p>{{ _('You need JavaScript to view the comments.') }}</p></noscript>
</div>
