<div id="webmentions" class="webmentions webmentions--flex-container" aria-labelledby="webmentions-title">

    <section id="webmentions-likes-container" class="webmentions__section">
        <h3>{{ _('Likes') }}</h3>
        <ul id="webmentions-likes" class="webmentions__list webmentions__faces">
            <li class="webmentions__loading">{{ _('Loading likes...') }}</li>
        </ul>
    </section>

    <section id="webmentions-comments-container" class="webmentions__section">
        <h3>{{ _('Comments & Replies') }}</h3>
        <ul id="webmentions-comments" class="webmentions__list">
            <li class="webmentions__loading">{{ _('Loading comments...') }}</li>
        </ul>
    </section>
</div>
