@use "../../_core/variables";
@use "../../_mixin/compatibility";
@use "../../_mixin/link";

.tag-cloud-tags {
  margin: 10px 0;

  @include link.link(true, true);

  a {
    display: inline-block;
    position: relative;
    margin: 5px 10px;
    @include compatibility.overflow-wrap(break-word);
    @include compatibility.transition(all ease-out 0.3s);

    &:active,
    &:focus,
    &:hover {
      @include compatibility.transform(scale(1.2));
    }

    sup {
      color: variables.$global-font-secondary-color;

      [theme=dark] & {
        color: variables.$global-font-secondary-color-dark;
      }
    }
  }
}
