<!-- Site logosu -->
<div class="site-logo">
    <a href="{{ SITEURL }}/" class="logo-link">
        <img src="{{ SITEURL }}/images/logo-lg.webp" alt="{{ SITENAME }}" class="logo-image" />
    </a>
</div>

<ul class="menu">
    <!-- Ana Sayfa -->
    <li class="menu-item">
        <a href="{{ SITEURL }}/" class="menu-link" aria-label="Ana Sayfa">
            <iconify-icon icon="tabler:home" class="menu-icon" width="20" height="20"></iconify-icon>
            <span class="menu-text">Ana Sayfa</span>
        </a>
    </li>

    <!-- Hakkımda -->
    <li class="menu-item">
        <a href="{{ SITEURL }}/hakkimda" class="menu-link" aria-label="Hakkımda">
            <iconify-icon icon="tabler:user" class="menu-icon" width="20" height="20"></iconify-icon>
            <span class="menu-text">Hakkımda</span>
        </a>
    </li>

    <!-- Bağış -->
    <li class="menu-item">
        <a href="{{ SITEURL }}/bagis" class="menu-link" aria-label="Bağış">
            <iconify-icon icon="tabler:heart" class="menu-icon" width="20" height="20"></iconify-icon>
            <span class="menu-text">Bağış</span>
        </a>
    </li>

    <!-- Arama butonu -->
    <li class="menu-item search-item">
        <a href="#" class="menu-link search-link search-trigger" aria-label="Ara">
            <iconify-icon icon="tabler:search" class="menu-icon" width="20" height="20"></iconify-icon>
            <span class="menu-text">Ara</span>
        </a>
    </li>
</ul>
