<!-- Site logosu -->
<div class="site-logo">
    <a href="{{ SITEURL }}/" class="logo-link">
        <img src="{{ SITEURL }}/images/logo-lg.webp" alt="{{ SITENAME }}" class="logo-image" />
    </a>
</div>

<ul class="menu">
    {% for link in NAVBAR_LINKS %}
    <li class="menu-item">
        <a href="{{ link.url }}" class="menu-link" target="{{ link.target }}">{{ link.name }}</a>
    </li>
    {% endfor %}

    <!-- Arama butonu -->
    <li class="menu-item search-item">
        <a href="#" class="menu-link search-link search-trigger" aria-label="Ara">
            <iconify-icon icon="tabler:search" width="18" height="18"></iconify-icon>
            <span class="search-text">Ara</span>
        </a>
    </li>
</ul>
