<!-- Google Tag Manager -->
{% if GTM_ID and PUBLISH %}
<script>
    window.dataLayer = window.dataLayer || [];
    // Varsayılan çerez izinleri
    dataLayer.push({
        consent: "default",
        analytics_storage: "denied",
        ad_storage: "denied",
        functionality_storage: "denied",
        personalization_storage: "denied",
        security_storage: "granted",
    });

    // İçerikten veri katmanlarını ayarla
    dataLayer.push({
        pageTitleGTM:
            "{% if article %}{{ article.title }}{% elif page %}{{ page.title }}{% else %}{{ SITENAME }}{% endif %}",
        pageTypeGTM: "{% if article %}article{% elif page %}page{% else %}home{% endif %}",
        pageLanguage: "{{ DEFAULT_LANG }}",
        pageUrl: window.location.href,
    });

    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "{{ GTM_ID }}");
</script>
{% endif %}
<!-- End Google Tag Manager -->
