---
layout: default
# All the Tags of posts.
---

<main class="main">
  <div class="container">
    <div class="page archive">
      <h2 class="single-title animate__animated animate__pulse animate__faster">Tüm Etiketler</h2>
      <div class="tag-cloud-tags">
        {% assign tags = "" | split: "" %}
        {% for t in site.tags %}
        {% assign tags = tags | push: t[0] %}
        {% endfor %}

        {% assign sorted_tags = tags | sort_natural %}

        {% for t in sorted_tags %}
        <a href="{{ site.baseurl }}/tags/{{ t | slugify | url_encode }}/">{{ t }} <sup>{{
        site.tags[t].size }}</sup></a>
      {% endfor %}
      </div>
    </div>
  </div>
</main>
