@use "../_core/variables";

@mixin link($light, $dark) {
  a,
  a::before,
  a::after {
    text-decoration: none;

    color: if($light, #15171a, variables.$accent);

    [theme="dark"] & {
      color: if($dark, #dae4ed, variables.$accent-dark);
    }
  }

  a:active,
  a:hover {
    color: if($light, variables.$accent-light, variables.$single-link-hover-color);

    [theme="dark"] & {
      color: if($dark, variables.$accent-light-dark, variables.$single-link-hover-color-dark);
    }
  }
}
